/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #ccc;
}
th, td {
    text-align: left;
    padding: 4px;
}
/* END OF RESET */

/* FONTS */
@font-face {
    font-family: 'robotoregular';
    src: url('./assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family:  system-ui, "robotoregular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --gradient1: rgb(73, 145, 167);
    --gradient2: rgb(112, 179, 201);
}

body {
    max-width: 2560px;
    min-height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 3rem 5vw;
    background:linear-gradient(170deg, var(--gradient1), var(--gradient2) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255));
}

header > picture {
    position: relative;
}

.imageText {
    position: absolute;
    bottom: 0.6rem;
    right: 1rem;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 5px grey;
}

header > section {
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
    background-color: white;
    padding: 1rem;
}

#headerPhoto {
    max-width: 450px;
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
    
}

main > h2 {
    margin-bottom: 1rem;
}

main {
    padding: 2rem 5vw 4rem;
    flex-grow: 1;
}

.gridContainer {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));;
    gap: 1.5rem;
}

.gridContainer > div {
    min-height: 200px;
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
}

.projectImg {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.projectInfo {
    padding: 1rem 1rem 2rem;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
}

.projectHeader > a {
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    color: white;
    padding: 2rem 5vw;
    background-image: linear-gradient(var(--gradient1), var(--gradient2));
}

footer > img {
    max-width: 400px;
    object-fit: contain;
}

footer > section > * {
    margin-bottom: 0.8rem;
}

a,
a:visited {
    text-decoration: none;
}

/* MEDIA QUERIES */

/* Tablet */
@media (max-width: 1000px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr;
    }
    header {
        flex-direction: column;
        align-items: start;
    }
    .imageText {
        top: 1rem;
        right: -5.5rem;
    }
    footer > img {
        max-width: 300px;
    }
}
/* Phone */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    #headerPhoto {
        max-width: 100%;
    }
    .imageText {
        top: auto;
        right: 1rem;
    }

    .gridContainer {
        grid-template-columns: 1fr;
    }

    main {
        padding: 1rem;
    }

    footer {
        flex-direction: column;
        padding: 1rem;
    }

    footer > img {
        max-width: 100%;
    }

    .contact > h2 {
        text-align: center;
    }
}
